/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 h1 {
    text-align: center;
    padding: 10px;
    border-bottom: solid;
    border-bottom-color: blue;
}

.main-page {
    margin: 0 200px;
}

.main-content {
    padding: 20px 40px;
    background-color: white;
}

.main-content input {
    margin-bottom: 10px;
}

.btn-in-lg {
    background-image: linear-gradient(0deg, #7fc5ee, #c3e5f8);
    border-radius: 0.5em;
    width: 300px;
    height: 300px;
    font-size: 400%;
    margin: 20px;
}

.btn-out-lg {
    background-image: linear-gradient(0deg, #e0291c, #fcc4b5);
    border-radius: 0.5em;
    width: 300px;
    height: 300px;
    font-size: 400%;
    margin: 20px;
}

.pulldown-lg {
    margin-bottom: 20px;
    width: 640px;
    height: 80px;
    font-size: 250%;
}